@font-face {
    font-family: "roboto";
    src: url("fonts/roboto-regular.eot");
    src: url("fonts/roboto-regular.eot?#iefix") format("embedded-opentype"),
        url("fonts/roboto-regular.woff2") format("woff2"), url("fonts/roboto-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "montserrat";
    src: url("fonts/montserrat-light.eot");
    src: url("fonts/montserrat-light.eot?#iefix") format("embedded-opentype"),
        url("fonts/montserrat-light.woff2") format("woff2"), url("fonts/montserrat-light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "raleway";
    src: url("fonts/raleway-medium.eot");
    src: url("fonts/raleway-medium.eot?#iefix") format("embedded-opentype"),
        url("fonts/raleway-medium.woff2") format("woff2"), url("fonts/raleway-medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "raleway";
    src: url("fonts/raleway-semibold.eot");
    src: url("fonts/raleway-semibold.eot?#iefix") format("embedded-opentype"),
        url("fonts/raleway-semibold.woff2") format("woff2"), url("fonts/raleway-semibold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    font-family: Montserrat;
    font-weight: 300;
    font-size: 14px;
    line-height: 1;
}
a {
    cursor: pointer;
}
a:hover {
    color: #c7b299;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
@media screen and (max-width: 767px) {
    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        &::after,
        &::before {
            content: "";
            background-color: #f1eee9;
            position: absolute;
            height: 2px;
            left: 0;
            width: 100%;
        }
        & span {
            background-color: #f1eee9;
            position: absolute;
            height: 2px;
            left: 0;
            top: 10px;
            width: 100%;
        }
        &::after {
            bottom: 0;
        }
        &::before {
            top: 0;
        }
    }
}
img {
    width: 100%;
}
.darkheader {
    background: radial-gradient(94.87% 15543.47% at 4.58% 100%, #211b19 0%, #4e3326 100%);
}
#topnav {
    z-index: 9;
    border: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    min-height: 62px;
}
.flexnav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}
.logo {
}
.nav {
    // .nav__items
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__items {
        margin-right: 25px;
        @media screen and (max-width: 767px) {
            display: none;
        }
    }
}
.header-icon {
    // .header-icon__item

    &__item {
        margin-left: 30px;
        :hover {
            fill: #988574;
        }
    }
}
.cart-ico {
    fill: white;
}
.search-ico {
    fill: white;
}
.slider {
    // .slider__item
    background-image: url(/img/bg_header.jpg);
    background-size: cover;
    height: 100vh;
    position: relative;
    background-position: center center;

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        text-align: center;
        height: 100%;
        position: relative;
    }

    // .slider__item-text

    &__item-text {
        color: #fff;
        max-width: 650px;
        font-style: normal;

        &_size-m {
            font-family: raleway;
            font-weight: 500;
            font-size: 36px;
            padding-bottom: 30px;
            @media screen and (max-width: 767px) {
                font-size: 26px;
            }
        }
        &_size-b {
            font-weight: 600;
            font-size: 52px;
            padding-bottom: 30px;
            @media screen and (max-width: 767px) {
                font-size: 42px;
            }
        }
        &_size-s {
            font-size: 16px;
            line-height: 20px;
            padding-bottom: 30px;
        }
    }
    .dots {
        display: flex;
        justify-content: center;
        margin-top: -50px;
    }
    .dot {
        font-size: 0;
        line-height: 0;
        display: block;
        width: 10px;
        height: 10px;
        padding: 5px;
        cursor: pointer;
        color: transparent;
        border: 0;
        outline: none;
        background: transparent;
        position: relative;
        &.active {
            width: 15px;
            height: 15px;
            margin-top: -2px;
        }
        &.active::before {
            width: 15px;
            height: 15px;
            background: transparent;
            border: 1px solid #d3c1ad;
            box-sizing: border-box;
        }
        &:hover {
            width: 15px;
            height: 15px;
            margin-top: -2px;
        }
        &:hover::before {
            width: 15px;
            height: 15px;
            background: transparent;
            border: 1px solid #d3c1ad;
            box-sizing: border-box;
        }
        &::before {
            line-height: 20px;
            position: absolute;

            background: rgba(255, 255, 255, 0.5);
            border-radius: 50%;
            width: 10px;
            height: 10px;
            content: "•";
            text-align: center;
        }
    }
}
.arrow {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    @media screen and (max-width: 767px) {
        display: none;
    }
}
.arrow-left {
    position: absolute;
    left: 5%;
}
.arrow-right {
    position: absolute;
    right: 5%;
}
.arrow-item {
    fill: #fff;
    &:hover {
        fill: #d3c1ac;
    }
}

.btn {
    background: #988574;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    border: 1px solid #988574;
    outline: 0;
    transition: all 0.4s ease-in-out;
    padding: 15px 25px;
    border-radius: 5px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    &:hover {
        border: 1px solid #988574;
        background-color: #fff;
        color: #988574;
    }
}
.main {
}
.realization {
    // .realization__list
    padding: 90px 0px;

    &__list {
        display: flex;
        justify-content: space-between;
        margin: 0 -30px;
        @media screen and (max-width: 767px) {
            flex-wrap: wrap;
            margin: 0 30px;
        }
    }

    // .realization__item

    &__item {
        // .realization__item_img
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 30px;
        @media screen and (max-width: 767px) {
            margin: 0px 30px 30px 30px;
        }
        &:hover {
            cursor: pointer;
            color: #c7b299;
        }
        &:hover::after {
            background-color: #c7b199;
        }
        &::after {
            content: "";
            width: 70px;
            height: 3px;
            background-color: #f1eee9;
            margin: 30px auto 0px;
        }
        &_img {
            margin-bottom: 30px;
        }

        // .realization__item_title

        &_title {
            font-family: Raleway;
            font-weight: 600;
            font-size: 22px;
            margin-bottom: 20px;
        }

        // .realization__item_text

        &_text {
            font-family: Montserrat;
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
        }
    }
}

.ideas {
}
.section-title {
    margin-top: 80px;
    max-width: 770px;
    margin: 0 auto;
}
.title {
    font-family: Raleway;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #555555;
    margin-bottom: 20px;
}
.subtitle {
    font-family: Montserrat;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #8c8c8c;

    text-align: center;
}
.ideas-img {
    display: block;
    margin-top: 45px;
}
.purchase {
    // .purchase__title
    background: radial-gradient(94.87% 15543.47% at 4.58% 100%, #211b19 0%, #4e3326 100%);
    .purchase-flex {
        padding: 40px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width: 767px) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    &__title {
        font-family: Raleway;
        font-size: 28px;
        font-style: normal;
        font-weight: normal;
        color: #fff;
        @media screen and (max-width: 767px) {
            text-align: center;
            margin-bottom: 30px;
        }

        span {
            color: #c7b299;
        }
    }

    // .purchase__subtitle

    &__subtitle {
        padding-top: 15px;
        font-family: Montserrat;
        font-weight: 300;
        font-size: 18px;
        color: #615855;
    }
}
.container {
    max-width: 1280px;
    margin: 0 auto;
    @media screen and (max-width: 570px) {
        max-width: 570px;
        padding: 0px 10px;
    }
    @media (min-width: 570px) and (max-width: 980px) {
        max-width: 768px;
        padding: 0px 15px;
    }
}
.projects {
    // .projects__tabs
    padding: 60px 0px;

    // .projects__tabs-navs

    &__tabs-navs {
        display: flex;
        justify-content: center;
        padding-top: 35px;
        margin: 0 -5px;
        @media screen and (max-width: 767px) {
            flex-wrap: wrap;
            justify-content: center;
            margin: 0 auto;
        }
    }

    // .projects__tabs-nav

    &__tabs-nav {
        border: 1px solid #ebebeb;
        padding: 5px 15px;
        margin: 0 5px;
        color: #8c8c8c;
        cursor: pointer;
        @media screen and (max-width: 767px) {
            margin-bottom: 25px;
        }
        &:hover {
            background: #998575;
            color: #fff;
        }
    }

    // .projects__tabs-items

    &__tabs-items {
        padding-top: 60px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 30px;
    }

    // .projects__tabs-item

    &__tabs-item {
        background: #fbf9f7;
        margin: 15px 15px 70px 15px;
        box-sizing: border-box;
        cursor: pointer;
        @media screen and (max-width: 767px) {
            margin-bottom: 25px;
        }
        @media (max-width: 768px) and (max-width: 980px) {
            flex-basis: 44%;
        }
        &:hover,
        &:hover .projects__tabs-item_title {
            background: #352f2d;
            color: #fff;
        }
        &:hover .projects__tabs-item_text {
            color: #c7b299;
        }
        &:hover &_img img {
            opacity: 0.5;
        }
        &_title {
            font-family: Raleway;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            color: #c7b299;
            margin-bottom: 5px;
            padding-left: 25px;
            padding-top: 20px;
        }
        &_text {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            color: #d1d1d1;
            padding-left: 25px;
            margin-bottom: 30px;
        }
    }
}
.active {
    background: #998575;
    color: #fff;
}
.hover-item {
}
.load-more {
    margin: 0 auto;
    display: block;
}
.video-block {
    // background-image: url(/img/bg_video_presentation.jpg);
    // background-position: center;
    // background-size: cover;
    position: relative;
    padding-top: 250px;
    padding-bottom: 230px;
    color: #fff;
    max-height: 705px;
    overflow: hidden;
    @media screen and (max-width: 767px) {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    &__control {
        position: relative;
        z-index: 9;
        text-align: center;
        max-width: 570px;
        margin: 0 auto;
        &_item {
            cursor: pointer;
            fill: white;
            &:hover {
                fill: #c7b199;
            }
        }
    }
    &__name {
        font-family: Raleway;
        font-size: 30px;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 20px;
    }
    &__descrip {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
    }
}
.overlay {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    z-index: 1;
}
#applediv {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#applevideo {
    top: 0;
    left: 0;
    position: absolute;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
}
.mobile {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    margin-bottom: -5px;
    padding-top: 80px;
    @media screen and (max-width: 767px) {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
}

.mobile-text {
    // .mobile-text__title
    max-width: 670px;

    &__title {
        font-family: Raleway;
        font-weight: 600;
        font-size: 30px;

        display: flex;
        align-items: center;
        color: #555555;
        margin-bottom: 20px;
        @media screen and (max-width: 767px) {
            text-align: center;
        }
    }

    // .mobile-text__info

    &__info {
        font-family: Montserrat;
        font-size: 16px;
        line-height: 20px;
        color: #8c8c8c;
        padding-bottom: 50px;
        @media screen and (max-width: 767px) {
            margin: 0 20px;
        }
    }

    // .mobile-text__list

    &__list {
        display: flex;
        flex-direction: column;
        margin-left: 60px;
        @media screen and (max-width: 767px) {
            margin: 0 20px;
        }
        & div {
            margin-bottom: 10px;
            font-family: Montserrat;
            font-weight: 300;
            font-size: 16px;
            color: #8c8c8c;
            &::before {
                content: ">";
                display: inline-block;
                background: #c7b299;
                width: 20px;
                color: #fff;
                border-radius: 50%;
                height: 20px;
                text-align: center;
                line-height: 1.3;
                font-weight: 700;
                margin-right: 10px;
            }
        }
    }
}
.counters {
    background: radial-gradient(94.87% 15543.47% at 4.58% 100%, #211b19 0%, #4e3326 100%);
}
.counters-list {
    padding: 25px 0;
    // .counters-list__item
    display: flex;
    justify-content: center;
    margin: 0 -35px;
    @media screen and (max-width: 767px) {
        flex-wrap: wrap;
        margin: 0 auto;
    }
    @media screen and (max-width: 768px) &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 35px;
        &::after {
            content: "";
            width: 30px;
            height: 2px;
            background-color: #fff;
            margin: 20px auto 20px;
        }
    }

    // .counters-list__img

    &__img {
        margin-bottom: 15px;
    }

    // .counters-list__number

    &__number {
        font-family: Montserrat;
        color: #fff;
        font-weight: 300;
        font-size: 48px;
        padding-bottom: 15px;
    }

    // .counters-list__descrip

    &__descrip {
        font-family: Montserrat;
        font-weight: 300;
        font-size: 14px;
        color: #c7b299;
    }
}

.posts {
    padding: 100px 0 40px 0;
    background: #fbf9f7;

    box-sizing: border-box;
    cursor: pointer;
    @media screen and (max-width: 767px) {
        padding-top: 40px;
    }

    &__column {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        margin-bottom: 55px;
        @media screen and (max-width: 767px) {
            flex-wrap: wrap;
            margin-bottom: 20px;
        }
    }

    // .posts__item

    &__item {
        // .posts__item_img
        margin-right: 85px;
        padding-bottom: 20px;
        border: 1px solid #b2b2b2;
        position: relative;
        @media screen and (max-width: 767px) {
            flex-wrap: wrap;
            margin: 0 20px 30px;
        }
        &:last-child {
            margin-right: 0px;
            @media screen and (max-width: 767px) {
                margin: 0 20px 30px;
            }
        }
        &:hover {
            background: #352f2d;
            color: #fff;
        }
        &:hover .projects__tabs-item_title {
            background: #352f2d;
            color: #fff;
        }
        &:hover .projects__tabs-item_descrip {
            color: #fff;
        }
        &:hover .posts__item__title {
            color: #c7b199;
        }
        &:hover .posts__item__descrip {
            color: #fff;
        }
        &:hover .projects__tabs-item_text {
            color: #c7b299;
        }
        &:hover &_img img {
            opacity: 0.5;
        }

        &_txt {
            padding-left: 25px;
        }
        &__title {
            font-family: Raleway;
            font-weight: 500;
            font-size: 20px;
            color: #555555;
            margin-bottom: 20px;
            padding-top: 20px;
        }
        &__descrip {
            font-family: Montserrat;
            font-weight: 300;
            font-size: 14px;
            color: #000000;
            margin-bottom: 30px;
        }
    }
}
.dateblock {
    position: absolute;
    top: 17px;
    left: 23px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 5px;
    &__day {
        background-color: #363636;
        color: #fff;
        font-size: 30px;
        padding: 5px;
        display: block;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
    }
    &__month {
        display: block;
        font-size: 12px;
        background-color: #242424;
        color: #fff;
        padding: 5px;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
    }
    .posts__item:hover &__day {
        background-color: #c7b199;
        color: #fff;
    }
    .posts__item:hover &__month {
        background-color: #a48d71;
        color: #fff;
    }
}

.footer .read-more {
    color: #d1d1d1;
    &:hover {
        color: #c7b299;
    }
}
.read-more {
    font-family: Montserrat;
    font-weight: 300;
    font-size: 14px;
    color: #c7b299;
    text-decoration: none;
    &::after {
        content: "";
        margin-left: 5px;
        background: url(/img/read_more_icon.png) 100% 100% no-repeat;
        background-position: center;
        padding-left: 8px;
    }
}
.post-arrow {
    // .post-arrow__left
    display: flex;
    justify-content: center;
    margin: 0 -10px;
    @media screen and (max-width: 767px) {
        margin: 0 auto;
    }
    &__left,
    &__right {
        margin: 0 10px;
        fill: #d1d1d1;
        &:hover {
            fill: #c7b299;
        }
    }
}

.brands {
    background: url(/img/bg_partners.jpg) 100% 100% no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    padding: 140px 0px;
    align-items: center;
    @media screen and (max-width: 767px) {
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 70px 0px;
    }
}
.brand-item {
    margin: 0 40px;
    @media screen and (max-width: 767px) {
        flex-basis: 40%;
        justify-content: space-between;
        margin: 0 10px;
    }
}
.brand-img {
}
.footer {
    // .footer__column
    background: #191919;
    color: #555555;
    &__column {
        display: flex;
        padding: 75px 0px;
        justify-content: space-between;
        margin: 0 -25px;
        flex-wrap: wrap;
        // .footer__column_item
        @media screen and (max-width: 767px) {
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 0;
        }
        &_item {
            flex-basis: 25%;
            box-sizing: border-box;
            margin: 0 25px;
            @media screen and (max-width: 767px) {
                flex-basis: 45%;
                box-sizing: border-box;
                margin: 0 5px;
            }
            @media (min-width: 570px) and (max-width: 980px) {
                flex-basis: 40%;
            }
        }
    }
}
.footer-logo {
}
.footer-about {
    padding-top: 15px;
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 20px;
}
.read-more {
}
.footer-title {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 25px;
    font-weight: 600;
}
.article {
    border-bottom: 1px solid #242424;
    padding-bottom: 15px;

    &:hover a {
        color: #c7b299;
    }
    &:hover .article-date {
        color: #fff;
    }
    &:last-child {
        border: 0;
    }
}

.article-date {
    font-size: 12px;
    padding-bottom: 8px;
    padding-top: 7px;
    color: #363636;
}
.article-title {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 17px;
    color: #555555;
    & a {
        color: #555555;
        text-decoration: none;
    }
}
.twitter {
    // .twitter__post
    border-bottom: 1px solid #242424;
    &:last-child {
        border: 0;
    }
    &__post {
        font-family: Montserrat;
        font-size: 14px;
        line-height: 17px;
        color: #555555;
        padding-bottom: 10px;
        padding-top: 10px;

        & a {
            color: #00bff3;
        }
    }

    // .twitter__date

    &__date {
        padding-bottom: 10px;
    }
}
.widget {
    display: flex;
    flex-wrap: wrap;
    // .widget__img

    &__img {
        width: 50%;
    }
}
.copy {
    // .copy__item
    background: #101010;
    &__list {
        display: flex;
        padding: 60px 0 40px;
        @media screen and (max-width: 767px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 20px;
        }
    }
    &__item {
        color: #555555;
        margin-left: 12px;
        font-family: Montserrat;
        font-weight: 300;
        font-size: 13px;
        &:first-child::before {
            content: "";
        }
        &::before {
            content: "|";
            padding-right: 12px;
        }
        & a {
            text-decoration: none;
            color: #555555;
            &:hover {
                color: #baa78f;
            }
        }
    }
}
